<div class="custom-input">
  <label>{{@format.label}}:
    <br />
    <Input @type={{@format.type}} @value={{@value}} oninput={{action "onInput"}}/>
  </label>
  {{#if @error}}
    <small class="error">{{@error}}</small>
  {{/if}}
</div>